<mat-card>
  <mat-card-title>Acceso</mat-card-title>
  <mat-card-content>
    <div>
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Correo Electrónico" [(ngModel)]="user.email">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Contraseña" [(ngModel)]="user.password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </p>

      <p *ngIf="error != ''" class="error">
        {{ error }}
      </p>

      <div class="button">
        <button type="button" (click)="submit()" mat-button [disabled]="loading">
          Iniciar sesión
          <mat-icon *ngIf="loading">
            <mat-spinner diameter="20" color="primary"></mat-spinner>
          </mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
